{% extends 'baseBack.html.twig' %}

{% block title %}Sponsor{% endblock %}

{% block body %}
    <h1 style="color:#542167";><b>Sponsor</b></h1>

    <table class="table" border="2">
        <tbody>
            <tr>
                <th style="color:#AA74BE";>Phone Societe</th>
                <td>{{ sponsor.phoneSociete }}</td>
            </tr>
            <tr>
                <th style="color:#AA74BE";>Montant</th>
                <td>{{ sponsor.montant }}</td>
            </tr>
            <tr>
                <th style="color:#AA74BE";>Nom Societe</th>
                <td>{{ sponsor.nomSociete }}</td>
            </tr>
            <tr>
                <th style="color:#AA74BE";>Email Societe</th>
                <td>{{ sponsor.emailSociete }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_sponsor_index') }}">Back to list</a>

    <a class="btn btn-primary" href="{{ path('app_sponsor_edit', {'idSponsor': sponsor.idSponsor}) }}">Edit</a>

    {{ include('sponsor/_delete_form.html.twig') }}
{% endblock %}
